<h1>良くある質問</h1>
    <p>
      Q1.送料はかかりますか？<br>
      A1.100,000円以上ご購入の際は送料無料です。<br>
      その他の場合は5,400円頂きます。（※離島は配送できません）
    </p>
    <p>
      Q2.返品はできますか？<br>
      A2.返品されても返金しません。（※送料はお客様負担となります）
    </p>
    <p>
      Q3.届いた商品が動きません<br>
      A3.再度ご入金が確認され次第、当社にて初期不良と判断した場合は、同等の商品と交換致します。<br>
      詳細はお問い合わせから、ご連絡ください。
    </p>
    <p>
      Q4.R指定はありますか？<br>
      A4.当社ではR指定商品は（表向きは）取り扱っておりません。
    </p>
    <p>
      Q5.著作権的に大丈夫ですか？<br>
      A5.私は何も見ていません。聞いていません。
    </p>
    <p>
      Q6.取り扱っている商品は社長の趣味ですか？<br>
      A6.当然です！
    </p>
    <p>
      Q7.このサイトの商品は本当に買えるのですか？<br>
      A7.買える訳ないじゃないですか～。あくまで洒落ですｗ
    </p>