<div id = "gametitle">
  竜探索
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag 'dq.jpg', :width => '150', :height => '153' %></td>
    <td>突如として竜達が暴れまわり、街を破壊し始めた！<br>
        暴れる竜を打ち倒し、世界の平和を取り戻すため、竜王を倒せ！</td>
  </tr>
</table>

<div id="genre">
ジャンル：ロールプレイングゲーム<br>
価格：6,100円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・スワエアエニッワス人気作のリメイク！<br>
  ・職業が変更可能なので多様な戦闘が可能<br>
  ・最大4人パーティ編成可能<br>
  ・パーティメンバー作成可能<br>
</div>

<%= button_to '買い物籠に入れる', line_items_path(product_id: 3), remote: true %>