<div id = "gametitle">
  どきどきメモリアル
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag 'smile.jpg', :width => '195', :height => '150' %></td>
    <td>楽しい高校生活の始まり・・・<br>
        隣に住む幼馴染や同級生・部活の先輩など魅力的な女の子が一杯！<br>
        好みの女の子と仲良くなれるかどうかは貴方の行動次第</td>
  </tr>
</table>

<div id="genre">
ジャンル：恋愛シミュレーション<br>
価格：5,800円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・ランダムイベントシステム採用<br>
  ・公園・学校・駅・街中などランダムな日時で女の子と会える<br>
  ・勉強・ゲームなどをすることで特定のパラメーターを上げて、女の子の好みの男子になろう<br>
  ・ツンデレ・ヤンデレ・クーデレなど、貴方好みの子が必ず見つかる♪<br>
</div>

<%= button_to '買い物籠に入れる', line_items_path(product_id: 4), remote: true %>