<div id = "gametitle">
  蔵で臼
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag '130723Gradius-thumb-640x393-74491.jpg', :width => '320', :height => '197' %></td>
    <td>懐かしの横スクロールシューティングゲーム。<br>
        蔵の中で次々と襲ってくる古物を撃ち落とせ！</td>
  </tr>
</table>

<div id="genre">
ジャンル：シューティングゲーム<br>
価格：5,600円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・懐かしの名機を完全リメイク！<br>
  ・蔵の中を所狭しと襲ってくる臼を撃退せよ！<br>
  ・パワーアップアイテムでさらに強力に！<br>
  ・隠しコマンド有<br>
</div>

<%= button_to '買い物籠に入れる', line_items_path(product_id: 1), remote: true %>