<div id = "gametitle">
  Wining11人
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag 'PES2011_kickoff_bmp_jpgcopy.jpg', :width => '320', :height => '180' %></td>
    <td>自分の好きなチームでJリーグ優勝、そしてCWC優勝を勝ち取ろう！<br>オリジナルプレイヤーを作成して、育てることもできるぞ♪</td>
  </tr>
</table>

<div id="genre">
ジャンル：スポーツゲーム<br>
価格：7,500円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・マンガやアニメの架空選手も登場！<br>
  ・オリジナルプレイヤー作成可能！最強の選手も作れるぞ！<br>
  ・システム・戦術を選択することでプレイヤー以外の選手の動きも変化<br>
</div>

<%= button_to '買い物籠に入れる', line_items_path(product_id: 8), remote: true %>