<div id = "gametitle">
  熱狂パワフルプロ野球
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag 'img_pawapuro.png', :width => '230', :height => '319' %></td>
    <td>自分のプロ野球チームを編成して日本一を目指せ！<br>
        自分がプロ野球選手になって人生を過ごす【マイ人生】モードも搭載♪</td>
  </tr>
</table>

<div id="genre">
ジャンル：スポーツゲーム<br>
価格：7,800円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・オリジナル選手を作成できる【成功】モード<br>
  ・プロ野球選手の一人となって人生を歩む【マイ人生】モード<br>
  ・自分の好きな選手やオリジナル選手でチームを編成可能<br>
  ・ペナントモードでは監督も体験できる！<br>
</div>

<%= button_to '買い物籠に入れる', line_items_path(product_id: 7), remote: true %>