<article>
  <h1>お問い合わせ</h1>
  <p>下記フォームよりお気軽にお寄せください。</p>
  <p>社長の気分により回答致します。。</p>
  <ul>
    <li>必要事項を記入し、「確認する」をクリックしてください。</li>
    <li>ご登録いただいた個人情報は、お問い合わせ内容の確認以外には使用いたしません。（きっと・・・多分・・・恐らく・・・）</li>
  </ul>
  <form action="#">
    <p><label>お名前(必須)<br>
      <input type="text" name="name" required placeholder="例) 小鳥遊　寿限無"></label></p>
    <p><label>メールアドレス(必須)<br>
        <input type="email" name="mail" required placeholder="例) jugem@exam.com"></label></p>
    <p>お問い合わせ種類<br>
        <label><input type="radio" name="kind" value="0">事前のご相談</label>
        <label><input type="radio" name="kind" value="1">購入後のご相談</label></p>
        <label><input type="radio" name="kind" value="2">社長についての質問</label></p>
        <label><input type="radio" name="kind" value="3">その他</label></p>

     <p><label>内容<br>
            <textarea name="comment"  cols="50" rows="10" placeholder="ご意見・ご要望をご記入ください。"></textarea></label></p>
            <p><input type="submit" value="確認する"></p>
  </form>
</article>