<div id = "gametitle">
  アブラゼミのなく頃に
</div>
<table id = "saisyo">
  <tr>
    <td><img src="../../assets/images/8447857_624.jpg" height="234" width="312"></td>
    <td>アブラゼミが鳴く季節に起こる惨劇・・・<br>
        貴方はこの謎を解き明かし、惨劇を回避できるか？</td>
  </tr>
</table>

<div id="genre">
ジャンル：アドベンチャーゲーム<br>
価格：6,400円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・正解率5％の超難解な謎解き！<br>
  ・ストーリーが秀逸で謎解きができなくても楽しめる♪<br>
  ・魅ぃちゃんが可愛い♪<br>
</div>
