<div id = "gametitle">
  道三の野望
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag 'pc_koe_000833_01.jpg', :width => '320', :height => '240' %></td>
    <td>油売りから一国一城の主となった斉藤道三<br>
        道半ばにして敗れた道三の野望を叶えるため全国統一を果たそう！</td>
  </tr>
</table>

<div id="genre">
ジャンル：シミュレーションゲーム<br>
価格：9,800円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・COEI待望の新作！<br>
  ・最初に義龍の謀反を抑えるという超高難易度！<br>
  ・戦闘だけではなく戦力増強・一揆抑圧の為の内政も充実<br>
  ・現在の北海道から沖縄まで完全網羅<br>
</div>
