<div id = "gametitle">
  ぶよぶよ
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag '38730.jpg', :width => '200', :height => '200' %></td>
    <td>あのゲームの人気キャラクターがパズルゲームに登場！<br>
        お餅のような【ぶよぶよ】を縦・横に並べて消そう♪</td>
  </tr>
</table>

<div id="genre">
ジャンル：パズルゲーム<br>
価格：5,200円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・魔導物語3-2-1の人気キャラ【ぶよぶよ】がゲームに！<br>
  ・ストーリーモードで魔導物語の世界観を楽しめる♪<br>
  ・対戦モードではハンデ戦も採用<br>
  ・オンライン対戦可能<br>
</div>
