<div id = "gametitle">
  ファンタシームーン
</div>
<table id = "saisyo">
  <tr>
    <td><%= image_tag '8tnu0100004i1y44.jpg', :width => '200', :height => '150' %></td>
    <td>平和な毎日を過ごしていた主人公<br>
        しかし、突如として平和な日々が乱されることとなる・・・</td>
  </tr>
</table>

<div id="genre">
ジャンル：ロールプレイングゲーム<br>
価格：6,900円
</div>

<div id="syosai">
  ゲームの特徴<br>
  ・戦闘時にパーティだけではなく敵も動く<br>
  ・戦闘はコマンド入力方式で初心者でも楽々<br>
  ・最大4人パーティ編成可能<br>
</div>
