// Place all the styles related to the dokimemos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gametitle {
  font-size: 20px;
  font-style: bold;
  margin-bottom: 10px;
}

#saisyo {
  margin-bottom: 10px;
}

#genre {
  margin-bottom: 10px;
}

#syosai {
  margin-bottom: 50px;
}